* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #adff60;
  display: block;
  margin: 0 auto;
}=
img {
	position: absolute;
	left: 50px;
	top: 250px;
}
.game-over {
	background-color: grey;
	width: 200px;
	height: 200px;
	padding: 10px;
	padding-top: 40px;
	padding-left: 40px;
	position: absolute;
	top: 100px;
	left: 450px;
	border-radius: 25px;
	border: 10px solid black;
	visibility: hidden;
	z-index: 10000;
}
.vis {
	visibility: visible;
}